*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: #333;
}


.comparsa{
  animation: fade 2s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pulsa:hover{
  animation: pulse  2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50%{
    transform: scale(1.1);
  }

  100%{
    transform: scale(1);
  }
}

.container{
  display:flex;
  align-items: center;
  justify-content: center;
}

.card{
  display:flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 200px;
}

.card-body{
  width: 100%;
}

.card_single{
  border:white 2px solid;
  height: 600px;
  width: 950px;
  padding:20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  img{
    height: 300px;
    width: 200px;
  }
  .card-body{
    display:flex;
    flex-direction: column;
  }
  
  .movie_info{
    display: flex;
    align-items: center;
  }

  .info ul{
    list-style-type:none;
  }

  .back{
    align-self: center;
    width: 700px;
  }
}
